@page "/"
@inject IPublicCatalogApiClient CatalogApi

<PageTitle>Cicloturismo ao redor do globo - Viajantes Turismo</PageTitle>

<h1>Cicloturismo ao redor do mundo!</h1>
<p>Viaje diferente! A ViajantesTurismo é cultura, é saúde, é diversão.</p>

<section aria-labelledby="published-tours">
    <h2 id="published-tours">Nossas viagens</h2>

    @if (_loadFailed)
    {
        <p>As viagens não puderam ser carregadas agora. Tente novamente mais tarde.</p>
    }
    else if (_tours is null)
    {
        <p><em>Carregando viagens...</em></p>
    }
    else if (_tours.Length == 0)
    {
        <p>Novas viagens serão publicadas em breve.</p>
    }
    else
    {
        <div class="tour-list">
            @foreach (var tour in _tours)
            {
                <article>
                    <TourCard Tour="tour" HeadingLevel="3" />
                </article>
            }
        </div>
    }
</section>

@code {
    private CatalogTourDto[]? _tours;
    private bool _loadFailed;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _tours = await CatalogApi.GetPublishedTours(CancellationToken.None);
        }
        catch (HttpRequestException)
        {
            _loadFailed = true;
            _tours = [];
        }
    }
}
